:root {
    /* Variables */
}

* {
    box-sizing: border-box; /* Stopping borders-margins-paddings causing page width to stretch beyond vw */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR";
    font-weight: 300;
}

main {
}

@media only screen and (max-width: 12px) {
    

/* NAVIGATION BAR HOMEPAGE */
#hp-navbar {
    display: flex;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
}

.hp-nav-option {
    border: 1px black solid;
    border-radius: 20px;
    min-width: 12.5%;
    max-width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    font-size: xx-large;
    text-align: center;
    font-weight: 400;
    margin: 4px;
}

.hp-nav-option:hover {
    background-color: gainsboro;
    color: crimson;
    transition: 0.5s;
}

/* HOMEPAGE COVER IMAGE */
#hp-cover-container {
    position: relative;

    width: 100%;
    display: flex;
    justify-content: flex-end;

    background-repeat: no-repeat;
    background-size: contain;

    border: 2px red solid;

}

.hp-cover-img {
    width: 100%;
    height: auto;

    max-height: 100vh;


    object-fit: fill;
    border: 2px blue solid;;
}

.hp-cover-text{
    width: auto;
    height:fit-content;

    position: absolute;
    right: 20%;
    top: 5%;

    font-size: x-large;
    text-align: left;
    color: white;

    border: 2px green solid;
}

/* HOMEPAGE SECTION */
.hp-section-title {
    width: fit-content;
    margin-left: 10px;
}

.hp-section-title:hover {
    background-color: gainsboro;
    color: crimson;
    transition: 0.5s;
}

.photography-container, .art-container, .projects-container, .gamedev-container {
    position: relative;
    width: 100%;
    border: 3px solid hotpink;
}


.photography-items, .art-items, .projects-items, .gamedev-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.photo, .project, .art, .game-res {
    height: 15vh;
    width: 15vh;
    border: 3px orange solid;
    margin-bottom: 20px;
}

.bio {
    position: relative;
    font-size: 1%;
}


/* MISC */
p {
    font-size: x-large;
}

.container {
    border: solid 1px #ff0000;
    zoom: 1; /* IE6&7 */
    display: grid;
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}





/* 
@media (max-width: 1280px){
    #Welcome {
        width: 100%;
        height: 100%;
        background-color: green;
    }
}

@media (max-width: 768px){
    #Welcome {
        width: 100%;
        height: 100%;
        background-color: red;
    }
}

@media (max-width: 640px){
    #Welcome {
        width: 100%;
        height: 100%;
        background-color: blue;
    }
} 
*/

.gridtest {
    display: grid;
    grid-template: repeat(4,25%) / repeat(4,25%);
    outline-style: solid blue 3px;
    margin: 5px;
}

.grid-test-child {
    margin: 10px;
    min-height: 10vh;
    max-height: 20vh;
}

.redtest {
    grid-row: 1/3;
    grid-column: 1/3;

    background-color: red;
    color: white;
    
}

.bluetest{
    grid-row: 3/5;
    grid-column: 3/5;

    background-color: blue;
    color: white;
}

.greentest{
    grid-row: 3/5;
    grid-column: 1/3;

    background-color: green;
    color: white;
}
.yellowtest{
    grid-row: 1/3;
    grid-column: 3/5;
    color:white;
    background-color: yellow;
}


/* CSS Notes */
.cssnotes::after {
    content: 'I learned HTML and CSS for a poorly-made website instead of using a site builder. \A This says a lot about me I fear.';
    
}
.cssnotes:hover::after {
    content: 'I\'ll die before I use Sq*****Sp***';
}

}

@media only screen and (min-width: 1280px)

480px
768px 
1024px