<!DOCTYPE html5>
<html lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <head>
        <title>kieronmccallan.com</title>
        <base href="https://www.kieronmccallan.com/"/>

        <!-- £ FONT IMPORT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
        
        <!-- % Stylesheets-->
        <link rel="stylesheet" href="">
    </head>

    <body>


        <footer>

        </footer>
    </body>

</html>